
$min-height: 150px;

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: $min-height;
    box-sizing: border-box;
    padding: 10px;

    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        @include bxshd();
    }

    &__preview {
        flex: 1;
        overflow: hidden;
        @include bg(contain);
    }

    &__info {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        width: 86%;
    }

    &__title,
    &__price {
        display: block;
    }

    &__title {
        margin-bottom: 2px;
        text-decoration: underline;
    }

    &__price {
        color: #252525;
        font-weight: 700;
    }

    &__action {
        margin-right: 5px;

        span {
            @include button-icon(35px, #ccc, 25px);
        }
    }

    &.small {
        .product-card {
            &__preview {
                background-size: cover;
                background-position-y: 10%;
            }

            &__info {
                font-size: 13px;
                flex-direction: column;
                align-items: flex-start;
                padding: 5px 8px;
                height: 30%;
                overflow: hidden;
            }

            &__text {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            &__price {
                margin-top: auto;
            }

            &__action {
                margin-right: 0;
                position: absolute;
                bottom: 0;
                right: 0;

                span {
                    font-size: 15px;
                    border: 1px solid #ddd;
                }
            }
        }
    }
}
