.product-details {
    // box-shadow: $bxshd;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
    display: flex;

    &__image {
        @include bg(cover);
        background-position-y: 25%;
        width: 60%;
    }

    &__info {
        flex: 1;
        padding: 0 2.5rem;
        position: relative;
        overflow: hidden;

        > *:nth-child(2n + 1) {
            margin: 1rem 0;
        }

        &::before {
            content: '🕸';
            font-size: 32rem;
            position: absolute;
            bottom: -42%;
            right: -30%;
            z-index: -1;
            color: rgba(0, 0, 0, 0.2);
        }
    }


    &__price {
        font-weight: bold;
        border-bottom: 2px solid #000;
    }

    &__description {
        border: 2px solid #000;
        padding: 0.5rem;
    }

    .add-to-cart {
        font-size: 1rem;
    }
}
