$image-size: 100px;

$price: 100px;
$total: 110px;
$quantity: 225px;

.cart-table {
    margin-bottom: 30px;

    &__item {
        a {
            display: flex;
            align-items: center;
            text-align: left;
        }

        img {
            width: $image-size;
            height: $image-size;
            object-fit: cover;
            display: inline-block;
            margin-right: 20px;
        }

        h5 {
            margin: 0;
        }
    }

    &__price,
    &__total {
        font-size: 18px;
        font-weight: 700;
    }

    &__date {
        font-size: 14px;
    }

    &__price {
        width: $price;
    }

    &__total {
        width: $total;
    }

    &__quantity {
        width: $quantity;

        .quantity {
            margin: 0 auto;

            span {
                height: 40px;
                line-height: 40px;
            }
        }
    }

    &__delete {
        text-align: right;
    }

    &__filter {
        cursor: pointer;
        transition: background .2s ease;

        &::selection {
            color: $text;
        }

        &:hover {
            background: #eee;
        }

        &:after {
            content: '🔽'
        }

        &.up {
            &:after {
                content: '🔼';
            }
        }
    }

    table {
        width: 100%;
        text-align: center;

        thead {
            padding-bottom: 20px;
            tr {
                border-bottom: 1px solid #ebebeb;
            }

            th {
                font-size: 20px;
                font-weight: 400;
            }
        }

        tbody {
            tr {
                td {
                    padding: 15px 0;
                    border-bottom: 1px solid #ebebeb;
                }
            }
        }
    }
}
