.footer {
    height: $footer-height;
    background: $footer-background;

    &__navigation {
        display: flex;
        padding-left: 0;
        list-style-type: none;

        li {
            margin-right: 0.75rem;

            a {
                font-weight: 300;
            }
        }
    }
}
