// cart page
.delete-icon {
    font-size: 1.2rem;
    cursor: pointer;

    &:before {
        content: "✖" // ❌
    }
}

.quantity {
    display: flex;
    width: 75%;
    margin: 0 auto;

    span {
        background: #eee;
        text-align: center;
        height: 40px;
        line-height: 40px;
        flex: 1;
        cursor: pointer;
        transition: background .27s ease-out;
        &:hover {
            background: #ddd;
        }

        &:first-child,
        &:last-child {
            font-size: 20px;
        }
    }
}
